---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Technologies from "../components/Technologies.astro";
import ProjectCategories from "../components/ProjectCategories.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Aníbal Fermandois">
  <main>
    <Hero />
    <ProjectCategories />
    <Technologies />
    <Projects />
    <Contact />
  </main>
</Layout>

<style>
  main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 var(--space-lg);
  }
</style>