---
// src/components/ProjectCategories.astro
---

<section>
  <div class="category-button frontend">
    <span class="dot"></span>Frontend
  </div>
  <div class="category-button backend">
    <span class="dot"></span>Backend
  </div>
  <div class="category-button database">
    <span class="dot"></span>Database
  </div>
  <div class="category-button devops">
    <span class="dot"></span>DevOps
  </div>
</section>
